body {
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
  overflow: hidden;
  background-repeat: no-repeat;
  background-attachment: center;
  background-size: cover;
  height: 100vh;
  font-family: "Roboto", sans-serif;
}
body h2 {
  position: relative;
  text-align: center;
  font-size: 5vh;
  font-weight: 700;
  letter-spacing: 2px;
  background: linear-gradient(45deg, #1e90ff, #00ced1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: transform 0.3s ease, text-shadow 0.3s ease;
  
}