body {
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
  overflow: hidden;
  background-repeat: no-repeat;
  background-attachment: center;
  background-size: cover;
  height: 100vh;
  font-family: "Roboto", sans-serif;
}

body h2 {
  position: relative;
  text-align: center;
  font-size: 5vh;
  font-weight: 700;
  letter-spacing: 2px;
  background: linear-gradient(45deg, #1e90ff, #00ced1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: transform 0.3s ease, text-shadow 0.3s ease;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 3vh;
  justify-content: center;
  align-items: flex-start;
  max-height: 100vh;
  overflow-y: auto;
  padding: 2vh;
  margin: 0 auto;
  width: 90%;
  border-radius: 10px;
  
}
#hello {
  color: red;
}
/* Media queries for responsiveness */
@media screen and (max-width: 1024px) {
  h2 {
    font-size: 4.5vh;
  }

  .wrapper {
    max-height: 90vh;
  }
}

@media screen and (max-width: 768px) {

  h2 {
    font-size: 4vh;
  }

  .wrapper {
    max-height: 80vh;
  }
}

@media screen and (max-width: 480px) {
  h2 {
    font-size: 3.5vh;
  }

  .wrapper {
    max-height: 80vh;
  }
}
