@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
body {
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
  overflow: hidden;
  background-repeat: no-repeat;
  background-attachment: center;
  background-size: cover;
  
}
.container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100vh;
  z-index: 1;
}
h1 {
  position: relative;
  bottom: 2vh;
  font-size: 6vh;
  font-weight: 700;
  letter-spacing: 2px;
  background: linear-gradient(45deg, #1e90ff, #00ced1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: transform 0.3s ease, text-shadow 0.3s ease;
  text-align: center;
}

td.highlight {
  animation: blinker 2s ease-in-out infinite;
}
td.dimmed {
 opacity: 0.4;
}
.win-line {
  position: absolute;
  height: 4px;
  background-color: white;
}
p {
  color: white;
}
.scoring {
  display: flex;
  gap: 30px;
  color: white;
  font-size: 1.8rem;
}
.player1, .player2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tie {
  display: flex;
  flex-direction: column;
text-align: center;
}
.head {
  display: flex;
  gap: 10px;
}
input {
  background: none;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  width: 20px;
  font-size: 1.8rem;
}
.labelP, .player-label {
  cursor: pointer;
}
.label-active {
    pointer-events: auto;
    opacity: 1;
    cursor: pointer;
}

.label-inactive {
    pointer-events: none;
    opacity: 0.6;
}
@keyframes blinker {
  0%, 100% { background-color: #0d1d31; }
  50% { background-color: #1E90FF; }
}
