body {
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
  overflow: hidden;
}
body h2 {
  position: relative;
  bottom: 25vh;
  font-size: 10vh;
  font-weight: 700;
  letter-spacing: 2px;
  background: linear-gradient(45deg, #1e90ff, #00ced1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: transform 0.3s ease, text-shadow 0.3s ease;
}
.choices {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers the content horizontally */
  justify-content: center; /* Centers the content vertically */
  text-align: center; /* Centers the text */

}
body h2:hover {
  transform: scale(1.1);
}
@media screen and (max-width: 768px) {
  body h2 {
    font-size: 7vh;
    letter-spacing: 1px;
  }
}

.stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotate(-45deg);
}

.star {
  --star-color: #c4b5b5;
  --star-tail-length: 4em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);
  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px currentColor);
  transform: translate3d(104em, 0, 0);
  animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
}
@media screen and (max-width: 750px) {
  .star {
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
  }
}
.star:nth-child(1) {
  --star-tail-length: 7.03em;
  --top-offset: 92.32vh;
  --fall-duration: 9.142s;
  --fall-delay: 1.022s;
}
.star:nth-child(2) {
  --star-tail-length: 7.03em;
  --top-offset: 49.55vh;
  --fall-duration: 11.516s;
  --fall-delay: 4.02s;
}
.star:nth-child(3) {
  --star-tail-length: 5.57em;
  --top-offset: 38.27vh;
  --fall-duration: 8.925s;
  --fall-delay: 5.361s;
}
.star:nth-child(4) {
  --star-tail-length: 6.28em;
  --top-offset: 50.79vh;
  --fall-duration: 11.257s;
  --fall-delay: 5.879s;
}
.star:nth-child(5) {
  --star-tail-length: 6.36em;
  --top-offset: 46.76vh;
  --fall-duration: 7.293s;
  --fall-delay: 9.327s;
}
.star:nth-child(6) {
  --star-tail-length: 6.66em;
  --top-offset: 78.92vh;
  --fall-duration: 10.545s;
  --fall-delay: 2.482s;
}
.star:nth-child(7) {
  --star-tail-length: 5.21em;
  --top-offset: 49.32vh;
  --fall-duration: 6.676s;
  --fall-delay: 9.654s;
}
.star:nth-child(8) {
  --star-tail-length: 5.39em;
  --top-offset: 52.4vh;
  --fall-duration: 6.42s;
  --fall-delay: 8.889s;
}
.star:nth-child(9) {
  --star-tail-length: 6.12em;
  --top-offset: 30.7vh;
  --fall-duration: 7.737s;
  --fall-delay: 5.783s;
}
.star:nth-child(10) {
  --star-tail-length: 6.38em;
  --top-offset: 99.55vh;
  --fall-duration: 7.875s;
  --fall-delay: 0.142s;
}
.star:nth-child(11) {
  --star-tail-length: 5.64em;
  --top-offset: 88.5vh;
  --fall-duration: 10.678s;
  --fall-delay: 9.124s;
}
.star:nth-child(12) {
  --star-tail-length: 5.76em;
  --top-offset: 16vh;
  --fall-duration: 9.458s;
  --fall-delay: 5.188s;
}
.star:nth-child(13) {
  --star-tail-length: 5.51em;
  --top-offset: 60.96vh;
  --fall-duration: 6.165s;
  --fall-delay: 0.839s;
}
.star:nth-child(14) {
  --star-tail-length: 6.05em;
  --top-offset: 36.14vh;
  --fall-duration: 6.446s;
  --fall-delay: 3.099s;
}
.star:nth-child(15) {
  --star-tail-length: 7.3em;
  --top-offset: 65.58vh;
  --fall-duration: 11.661s;
  --fall-delay: 3.334s;
}
.star:nth-child(16) {
  --star-tail-length: 6.67em;
  --top-offset: 17.89vh;
  --fall-duration: 9.431s;
  --fall-delay: 2.292s;
}
.star:nth-child(17) {
  --star-tail-length: 6.16em;
  --top-offset: 93.47vh;
  --fall-duration: 6.63s;
  --fall-delay: 2.495s;
}
.star:nth-child(18) {
  --star-tail-length: 6.18em;
  --top-offset: 45.01vh;
  --fall-duration: 8.16s;
  --fall-delay: 6.187s;
}
.star:nth-child(19) {
  --star-tail-length: 6.28em;
  --top-offset: 94.83vh;
  --fall-duration: 10.449s;
  --fall-delay: 4.349s;
}
.star:nth-child(20) {
  --star-tail-length: 7.05em;
  --top-offset: 73.08vh;
  --fall-duration: 7.779s;
  --fall-delay: 2.012s;
}
.star::before, .star::after {
  position: absolute;
  content: "";
  top: 0;
  left: calc(var(--star-width) / -2);
  width: var(--star-width);
  height: 100%;
  background: linear-gradient(45deg, transparent, currentColor, transparent);
  border-radius: inherit;
  animation: blink 1s linear infinite;
}
.star::before {
  transform: rotate(45deg);
}
.star::after {
  transform: rotate(-45deg);
}

@keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0);
  }
}
@keyframes tail-fade {
  0%, 50% {
    width: var(--star-tail-length);
    opacity: 1;
  }
  70%, 80% {
    width: 0;
    opacity: 0.4;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}
@keyframes blink {
  50% {
    opacity: 0.6;
  }
}


/* CSS */

/*# sourceMappingURL=bg.css.map */
