@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --primary: #1e90ff;
  --secondary: #00ced1;
  --bgdark: #0d1d31;
  --bgdarker: #0c0d13;
  --bgbutton: #0023d1;
  --lightColor: #ffffff;
}

* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
body {
  background: radial-gradient(ellipse at bottom, var(--bgdark) 0%, var(--bgdarker)  100%);
  height: 100vh;
  overflow: hidden;
  background-repeat: no-repeat;
  background-attachment: center;
  background-size: cover;
  
}
.container {
  position: relative;
  display: grid;
  place-items: center;
  min-height: 100vh;
  z-index: 1;
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/* header */
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vh;
}
h1 {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 2px;
  background: linear-gradient(45deg, var(--primary), var(--secondary));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: transform 0.3s ease, text-shadow 0.3s ease;
  text-align: center;
}
.reset {
  display: block;
  color: var(--lightColor);
  padding: 5px;
  margin-top: 5px;
  background-color: var(--bgbutton);
  border-radius: 100%;
  cursor: pointer;
}

/* Table */
.board {
    border: 1px solid var(--lightColor);
    height: min(90vw, 50vh);
    width: min(90vw, 50vh);
    border-collapse: collapse;
}
.cell {
    border: 1px solid var(--lightColor);
    color: var(--lightColor);
    width: 60px;
    height: 60px;
    text-align: center;
    vertical-align: middle;
    font-size: 3rem;
    font-family: "Roboto", Arial, sans-serif;
    cursor: pointer;
}
td.highlight {
  animation: blinker 2s ease-in-out infinite;
}
td.dimmed {
 opacity: 0.4;
}
.win-line {
  position: absolute;
  height: 4px;
  background-color: var(--lightColor);
}
p {
  color: var(--lightColor);
}

/* Scoring */
.scoring {
  position: relative;
  display: flex;
  gap: 30px;
  color: var(--lightColor);
  font-size: 1.8rem;
}
.player1, .player2 {
  display: flex;
  flex-direction: column;
  align-items: center;
    
}
.tie {
  display: flex;
  flex-direction: column;
text-align: center;
}
.head {
  display: flex;
  gap: 10px;
  
}
input {
  background: none;
  color: var(--lightColor);
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  width: 20px;
  font-size: 1.8rem;
}
.labelP, .player-label {
  cursor: pointer;
}
.label-active {
    pointer-events: auto;
    opacity: 1;
    cursor: pointer;
}

.label-inactive {
    pointer-events: none;
    opacity: 0.6;
}

.img-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;  /* space between icon and input */
  margin-top: 5px;
}

.img-icon i, 
.img-icon input {
  font-size: 1.2rem;
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.img-icon input {
  display: none;
}
@keyframes blinker {
  0%, 100% { background-color: var(--bgdark); }
  50% { background-color: var(--primary); }
}

/* Mobile (up to 768px) */
@media (max-width: 768px) {
  h1 {
    font-size: 6vh;
    
  }
  .scoring {
    font-size: 1.5rem;
    gap: 20px;
  }
  .img-icon {
    position: absolute;
    bottom: 0;
   margin: 2px auto;
  }
  input {
    font-size: 1.5rem;
    width: 18px;
  }
}
